#VSCode Setting
.vscode/

#Build files
misc/
project/code/build_mac.txt
project/build
*.ctm
*.exe
*.lnk

#External audio frameworks
project/external/win32

#Visual Studio files
*.pdb
*.ilk
project/build/libexp

#Audio data
*.wav

#Windows misc
desktop.ini
Examples/
*.pdf

#Profiling
profile/

#WIP files
OLD/