#VSCode Setting
.vscode/

#Build files
misc/
project/build
*.exe
*.lnk

#Ctime
ctime/

#Audio data
*.wav
data/

#Profiling
profile/
OPA/

#WIP files
OLD/
Examples/
*.pdf
external/